---
layout: page
title:  "Mundo Virtual: El Inigualable Emperador Blanco "
category: "TOC"
---

<h1> Mundo Virtual: El Inigualable Emperador Blanco  </h1>
<h3> Autor: ShiFou KeYi LiuXia </h3>

<img src="{{site.url}}/assets/vwpwe.jpg" />

<p>
Año 24XX con numerosos años de avances, la realidad virtual a madurado, se ha convertido en el segundo mundo de la humanidad. Socializar, trabajar, estudiar y otras cosas de la vida diaria pueden hacerse mientras duermes.
</p>

<p>
Junto al incremento en sistemas de realidad virtual, juegos virtuales tambien fueron desarrollados. Adicionalmente, con el vigoroso soporte del gobierno; cada temporada, juegos continueron naciendo.
</p>

<p>
Ye Cang un marginado de la sociedad, en 2do año de la universidad. Aparentemente parece haberse curado de albinismo, ademas su historia esta llena de misterios. En el nuevo juego ‘New Age - Conviction’, se embarca en el camino de un jugador profesional, lentamente asi creando su propia leyenda
</p>

<h3>Tabla de Contenido</h3>

<ul>
{% for chapter in site.translations %}
	{% if chapter.category contains 'MVEIWB' %}
		{% if chapter.url contains 'index' %}
		{% else %}
			<li><a href="{{ chapter.url | prepend: site.baseurl }}">{{ chapter.title }}</a></li>
		{% endif %}
	{% endif %}
{% endfor %}
</ul>