<aside>
	<script src="http://code.jquery.com/jquery.js"></script>
	<script type="text/javascript">
		(function($) { // Begin jQuery
		  $(function() { // DOM ready
		    // If a link has a dropdown, add sub menu toggle.
		    $('nav ul li a:not(:only-child)').click(function(e) {
		      $(this).siblings('.nav-dropdown').toggle();
		      // Close one dropdown when selecting another
		      $('.nav-dropdown').not($(this).siblings()).hide();
		      e.stopPropagation();
		    });
		    // Clicking away from dropdown will remove the dropdown class
		    $('html').click(function() {
		      $('.nav-dropdown').hide();
		    });
		    // Toggle open and close nav styles on click
		    $('#nav-toggle').click(function() {
		      $('nav ul').slideToggle();
		    });
		    // Hamburger to X toggle
		    $('#nav-toggle').on('click', function() {
		      this.classList.toggle('active');
		    });
		  }); // end DOM ready
		})(jQuery); // end jQuery
	</script>

	<nav>
		<div class="nav-mobile">
			<span class="brand"><a href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}</a></span>
			<a id="nav-toggle" href="#!"><span></span></a>
		</div>
		<ul class="nav-list">
			<li><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li>
			<li><a href="#!">Translations ▾</a>
				<ul class="nav-dropdown">
					{% for translation in site.translations %} {% if translation.category == 'TOC' %}
						<li><a href="{{ translation.url | prepend: site.baseurl }}">{{ translation.title }}</a></li>
					{% endif %} {% endfor %}
				</ul>
			</li>
			{% for page in site.pages %} {% if page.title %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
			{% endif %} {% endfor %}
		</ul>
	</nav>
</aside>

<header class="">
	<h1><a href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}</a></h1>
</header>
 