body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.5;
}
h1 {
	color: $main;
	font-size: 2.5em;
	a,
	a:visited {
		text-decoration: none;
		color: $heading-font-color;
	}
}
h2 {
	font-size: 2em;
}
a,
a:visited {
	color: $link-color;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}
header {
	padding: 0px 15px;
	text-align: center;
	margin: $nav-height 0 0;
	height: 25vh;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-image: url('../assets/header.jpg');
	background-size: cover;
	background-position: center; 
}
main {
	padding: 0 15px;
	max-width: $content-width;
	margin: 0 auto;
	flex: 1;
}
time {
	color: #898989;
}
.container {
	max-width: $content-width;
	margin: 0 auto;
}

/* Aside */

aside {
	position: absolute;
	top: 0;
	left: 0;
	background: $nav-background;
	width: 100%;
	z-index: 2;
	box-shadow: 0px 1px 1px RGBA(4, 25, 54, .1);
}
footer {
	background: $nav-background;
	text-align: center;
	padding: 2px;
	width: 100%;
	bottom: 0;
	color: $nav-font-color;
}

.pagination {
	display: flex;
	flex_direction: row;
	justify-content: space-between;
}

.post {
	padding: 20px;
	-moz-box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 3px #ccc;
}