---
layout: default
---

<h2>{{ page.title }}</h2>

<!-- Next and previos chapter link -->
<div class="pagination">
  {% if page.url contains "0001" %}
    <span class="previous">Previous</span>
  {% else %}
    <a href="{{page.previous.url}}" class="previous">Previous</a>  
  {% endif %}

  {% if page.next.url contains "characters" or page.next.url contains "index" %}
    <span class="next">Next</span>
  {% else %}
    <a href="{{page.next.url}}" class="next">Next</a>  
  {% endif %}
</div>

<small style="color: white;">Please support the translator and read this novel at syzctranslations(DOT)github(DOT)io/</small>

<p> Translator: {{page.translator}} </p>
{% if page.editor %}
  <p> Editor: {{page.editor}} </p>
{% endif %}

{% if page.thanks1 %}
  <p> Thanks to {{page.thanks1}} for helping me spot errors. </p>
{% endif %}

{{ content }}

<small style="color: white">Please support the translator and read this novel at syzctranslations(DOT)github(DOT)io/</small>

<!-- Next and previos chapter link -->
<div class="pagination">
  {% if page.url contains "0001" %}
  	<span class="previous">Previous</span>
  {% else %}
    <a href="{{page.previous.url}}" class="previous">Previous</a>  
  {% endif %}

  {% if page.next.url contains "characters" or page.next.url contains "index" %}
  	<span class="next">Next</span>
  {% else %}
    <a href="{{page.next.url}}" class="next">Next</a>  
  {% endif %}
</div>